@import "variables";

//清除内外边距
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
p,
th,
td {
  margin: 0;
  padding: 0;
}

//重置表格元素
table {
  border-collapse: collapse;
  border-spacing: 0;
}

//重置列表元素
ol,
ul {
  list-style: none;
}

//设置默认字体
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

//将斜体扶正
address,
cite,
dfn,
em,
var {
  font-style: normal;
}

//统一等宽字体
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}

small {
  font-size: $font-size-base;
}

//重置文本格式元素
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

//重置表单元素
legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

html,
body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.clear-fix {
  zoom: 1;

  &:before,
  &:after {
    content: "";
    display: table;
  }
}

//设置页面默认字体
body {
  font-size: $font-size-base;
  font-family: Tahoma, "Microsoft Yahei", sans-serif;
  line-height: 1.6;
}

html,
body,
#app {
  height: 100%;
}
